body {
  background: #222222 !important;
  min-height: 100vh;
}
.yt-bg {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.btn {
  background-color: rgb(255, 92, 17);
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none;
}

h1{
  color: white !important;
}
